<div class="container">
    <div class="select-buttons">
        <p-selectButton 
            [options]="opcoesVisualizacao" 
            [(ngModel)]="opcaoVisualizacaoSelecionada" 
            (onChange)="selecionarVisualizacao()"
            severity="contrast"
        />
        <p-multiSelect 
            class="multiselect-status"
            [options]="status" 
            [(ngModel)]="statusSelecionados" 
            placeholder="Filtrar Status"
            (onChange)="selecionarStatus()"
        />
        @if (statusSelecionados?.length > 0 || opcaoVisualizacaoSelecionada) {        <p-button
                icon="pi pi-times"
                severity="secondary"
                [raised]="true"
                size="small"
                (click)="limparFiltros()"
            />
        }
    </div>
    <p-button
        label="Nova Tarefa"
        icon="pi pi-plus"
        class="btn-nova-tarefa"
        (click)="modalFormularioService.exibir()"
        severity="contrast"
    />
</div>
