/* Estilo base */
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se não couberem na linha atual */
    align-items: center;
    gap: 1rem; /* Espaçamento entre os itens */
}

.select-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espaçamento entre os botões */
    margin-right: auto; /* Garante que o botão "Nova Tarefa" fique à direita */
}

.btn-nova-tarefa {
    margin-left: auto;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens em telas menores */
    }

    .select-buttons {
        width: 100%; /* Faz com que os botões ocupem toda a largura disponível */
        justify-content: center; /* Centraliza os botões horizontalmente */
    }

    .btn-nova-tarefa {
        width: 100%; /* Faz com que o botão "Nova Tarefa" ocupe toda a largura disponível */
        margin-left: 0; /* Remove a margem à esquerda */
        text-align: center; /* Centraliza o texto do botão */
    }
}
