/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body{
    background-color: rgb(229, 229, 229);
}

.p-card .p-card-body{
    padding: 0rem 1rem !important;
}


.p-card{
    border-radius: 1rem;
}

.p-selectbutton .p-button.p-highlight{
    background-color: #1f2937;
    border-color: #1f2937;
}

.p-button:focus{
    box-shadow: none;
}

.p-checkbox .p-checkbox-box.p-highlight{
    background-color: #1f2937;
    border-color: #1f2937;
}

.p-multiselect:not(.p-disabled):hover{
    border-color: #1f2937;
}