/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body{
    background-color: rgb(229, 229, 229);
}

.p-card .p-card-body{
    padding: 0rem 1rem !important;
}


.p-card{
    border-radius: 1rem;
}
